#homepage {
    font-size: 13px;
    font-family: arial, sans-serif;
}

#top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 15px;
    text-decoration: none;
}

#top-left {
    color:  #222;
    display: flex;
    flex-direction: row;   
    align-items: center;
    height: 32px;
}

#top-left a {
    color: #222;
    padding-left: 15px;
    text-decoration: none;

}

#top-right {
    color: #222;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#top-right a {
    color: #222;
    padding-right: 15px;
    display: flex;
    line-height: normal;
    position: relative;
    white-space: nowrap;
    text-decoration: none;
}

#apps {
    background-image: url(https://ssl.gstatic.com/gb/images/i1_1967ca6a.png);
    background-position: -132px -38px;
    background-size: 528px 68px;
    height: 30px;
    width: 30px;
    display: inline-block;
    outline: none;
}

#arthur {
    border-radius: 50%;
    opacity: 1 !important;
}

#center-logo {
    display: flex;
    justify-content:center;
    margin-top: 47px;
    text-align: left;
}

.logo {
    padding-top: 10% !important;
    height: 95px;
    width: auto;
}

#search-bar {
    display:flex;
    width: 100%;
    align-items: center;
    flex-direction:row;
    padding-top: 20px;
    justify-content: center;
}

#search {
    width: 30%;
    padding-left: 45px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
    border-radius: 25px;
    border: 1px solid rgba(211,211,211, .7);
    }

i {
    position: absolute;
    padding-right: 29.5%;
    opacity: 0.3;
}

.button {
    border-radius: 2px;
    background-color:rgba(211,211,211, .4);
    border: none;
    padding: 15px 20px;
    text-align: center;
    color:rgba(0,0,0, .5);
    margin-right: 10px;
    margin-left: 10px;
    font-size:medium;
}

#search-buttons {
    padding: 30px;
    display:flex;
    justify-content: center;
}

#bottom {
    background-color: rgb(211,211,211, .3);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
    text-decoration: none;
    align-self:flex-end; 
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
}

#bottom a {
    text-decoration: none;
    color:rgba(0,0,0, .7);
    font-size: medium;
    margin: 5px;
}